<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body>

<main>

        <div class="infoBody">

            <div class="inputData">


                <% include ../partials/weatherBox.ejs %>

            <form id="ZipCode" name="ZipCode" action="/APIcall" , method="post">
                <input type="text" pattern="[0-9]*" minlength="5" maxlength="5" id="inputZipCode"
                       placeholder="ZipCode" name="ZipCode"/>
                <button id="btnSubmit" type="submit">Submit</button>
            </form>

            </div>

        </div>

</main>

</body>
</html>